.tact {
  display: flex;
  flex-direction: row;
}

.tact .line{
  display: flex;
  flex-direction: column;
}



.tact .line .top-tint {
  content: '';
  position: absolute;
  top:0; left:0; right:0; height:8px;
  background-image: linear-gradient(to bottom, black, transparent);
  z-index: 2;
}

.tact .title {
  position: absolute;
  padding-left: 3px;
  line-height: 17px;
  font-family: SFUIDisplay;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #76777b;
  z-index:3;
}



.tact .tint {
  left: -1px;
  right: -1px;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.14);
  z-index: 1;
  pointer-events:none;
}
